* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-color: #0e2a47;
}
a:link,
:visited {
  text-decoration: none;
  color: unset;
}
body {
  background-image: url(./assets/img/colorful.jpg);
  background-position: center;
  background-size: 1000px;
}
/* nav area */
.nav-container {
  background-color: rgba(255, 255, 255, 0.1);
  height: 80px;
  box-shadow: 1px 1px 8px 1px rgb(213, 213, 213);
}
.nav-items {
  list-style-type: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
.nav-items li {
  margin-right: 1rem;
}
/* .nav-items li:hover {
  margin-right: 1rem;
  color: rgb(95, 95, 95);
  transition: 0.5s;
  float: right;
} */

.login-btn {
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #1976d2;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin: 1rem;
}
.login-btn:hover {
  background: #176bbf;
}
.logo-img {
  height: 100px;
}

@media only screen and (max-width: 920px) {
  .nav-container {
    height: 100px;
    width: 100vw;
    flex-wrap: wrap;
  }

  .logo-img {
    margin-right: 20%;
  }
}
@media only screen and (max-width: 580px) {
  .nav-container {
    height: 250px;
    width: 100vw;
    box-shadow: 1px 1px 8px 1px rgb(213, 213, 213);
  }
  .nav-items {
    display: unset;
  }
  .nav-items li {
    margin-bottom: 0.5rem;
  }
  .logo-img {
    width: 50%;
    float: left;
    margin: unset;
  }
}
/* nav area */

Footer {
  background-color: #176bbf;
  border-top: 2px rgb(41, 31, 100);
  color: #fff;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Dash Area */
.dash-container {
  background-color: rgb(68, 192, 196);
  position: relative;
  width: 100%;
  height: 560px;
  background-image: url(./assets/img/dashback3.svg);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: contain;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-position: center;
}
.dash-text {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
  font-size: 70px;
  position: absolute;
  left: 5rem;
  top: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.raffle-img {
  height: 600px;
  min-height: 300px;
}
.tick-btn {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: none;
  font-weight: 600;
  padding: 15px;
  position: absolute;
  left: 17rem;
  bottom: 15rem;
  background-color: #bbefff;
  box-shadow: 1px 1px 10px rgb(35, 35, 35);
  cursor: pointer;
}

/* Dash Area */
